*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(22, 22, 22);
}
h1{
    text-align: center;
    font-size: 30px;
}
.container{
    display: flex;
    flex-direction: column;   
    align-items: center; 
    justify-content: center;
    margin: 0 auto;
    border: 2px solid rgb(171, 171, 171);
    width: 600px;
    height: 600px;
    font-size: 8px;
}
.row{
    display: flex;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    margin: 12px;
}
.buttons-section{
    gap: 16px;
    margin: 12px;
}
.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 90px;
    color: white;
}
.active{
    background-color: rgb(61, 196, 151);
}
.inactive{
    background-color: rgb(87, 87, 87);
}
footer{
    gap: 6px;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 2px;
}